<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Opening Trainer</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="static/css/chessboard-0.3.0.css" rel="stylesheet">
    <link href="static/css/opening_trainer.css" rel="stylesheet">

    <script type="text/javascript" src='/static/js/jquery.min.js'></script>
    <script type="text/javascript" src='/static/js/chessboard-0.3.0.js'></script>
    <script type="text/javascript" src="/static/js/chess.js"></script>
    <script type="text/javascript" src='/static/js/bootstrap-treeview.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</head>
 
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Opening Trainer</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="repertoire">Repertoire <span class="sr-only">(current)</span></a></li>
            <li><a href="training">Training</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" href="#opening_content">
                           <span>Opening: </span>
                           <span id="selected_opening">Select...</span>
                           <span id="opening_dropdown_icon" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        </a>
                    </h2>
                </div>
                <div id="opening_content" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <form class="form-inline" action="{{ url_for('repertoire') }}" method="post" id="opening_form">
                                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="color" id="opening_color">
                                    <option selected value="White">White</option>
                                    <option value="Black">Black</option>
                                </select>
                                <input type="text" class="form-control" name="name" id="new_opening_name" placeholder="Ruy Lopez">
                                <button type="submit" class="btn btn-primary" >
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add
                                </button>
                                <button id="remove-opening-btn" type="button" class="btn btn-danger" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove Opening
                                </button>
                            </form>
                        </div>
                        <div class="col-sm-6">
                             <div id="Opening_Explorer" class=""></div>            
                        </div>
                    </div>
                </div>        
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-3" style="">
                <div id="current_moves" style="overflow: auto; border: 2px solid black;">
                    <table id="pgn-table" class="table table-striped table-responsive table-bordered">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>          
                    </table>
                </div>
                <div id="game_navigation" align="center" style="margin-top: 5px">
                    <button id="remove-move-btn" type="button" class="btn btn-danger" aria-label="Left Align">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove Move
                    </button>
                </div>
            </div>

            <div class="col-sm-6" >
                <div id="board" style="width: 100%"></div>
                <div id="navigation" align="right" style="margin-top: 5px">
                    <button id="backward-btn" type="button" class="btn btn-default" aria-label="Left Align">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </button>
                    <button id="forward-btn" type="button" class="btn btn-default" aria-label="Left Align">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12" >
                        <div id="candidates" style="overflow: auto; border: 2px solid black;">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Candidates</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="analysis">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>



<script type="text/javascript" src='/static/js/chess_init.js'></script>
<script type="text/javascript" src='/static/js/opening_explorer.js'></script>

</html>
